extends layout

block content
  .row.page-header: .col-lg-12
      h1= user.username
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p= user.name
          p= user.email
          p= user.phone

        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              h2.panel-title Postings
            .panel-body.review-container
              each posting in user.postings
                .col-xs-12.list-group-item
                  h3
                    a(href="/user/" + user._id + "/postings/" + posting._id)= posting._id
                  a.btn.btn-info.float-right(href="/users/" + user._id + "/postings/" + posting._id + "/delete") Delete

  a(href="/user/" + user._id + "/new") Add new post
