extends layout

block content
  .row.page-header: .col-lg-12
      h1= posting.title
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p Descritpion: #{posting.description}
          p Deadline: #{posting.deadline}
          p Offering: #{posting.userOffering} 
          h2.panel-title Comments
          .card.card-primary
          each comment in posting.comments
            .card.card-header.bg-primary
              h5 Username: #{comment.username}
            .card.card-body
              p Comment: #{comment.comment}
          a.btn.btn-default.pull-right(href="/user/") Add Comment