extends layout

block content
  #banner.page-header
    .row
        h1= pageHeader.title
          small &nbsp;#{pageHeader.strapline}
        if account
          h4.ml-auto= account.username
        else
          h4.ml-auto Not logged in
  h3 Postings:
  .row.mt-4
    .col-xs-12.col-sm-8
      .error= message
      .row.list-group
        each user in users
          each posting in user.postings
            .col-xs-12.list-group-item
              h3
                a(href="/user/" + user._id + "/postings/" + posting._id) Need: #{posting.title}
              h5
                p User: #{user.username}
                p Offering: #{posting.userOffering}                                                                  
    .col-xs-12.col-sm-4
      p.lead= description.info
