extends layout

block content
  .row.page-header: .col-lg-12
      h1= posting.title
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p= posting.title
          .panel.panel-primary
            .panel-heading
              h2.panel-title Date Posted
            .panel-body
                p= posting.date

          .panel.panel-primary
            .panel-heading
              h2.panel-title User
            .panel-body
                a(href="/user/" + user) Click to go to user page

        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href="/postings/") Add Comment
              h2.panel-title Comments
            .panel-body.review-container
              each comment in posting.comments
                .row
                  .review
                    .well.well-sm.review-header
                      span.reviewAuthor #{comment.name}
                      span.reviewDate.pull-right #{comment.date}
                    
